.container {
  width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  outline: solid lightpink;
}
@media (min-width: 1314px) {
  .container {
    width: 1314px;
  }
}

p,
h1,
h2,
h3,
h4,
form,
input,
label,
button,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

.first-section {
  background-image: url(../images/diego.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 62px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 58.15px;
  color: #fff;
  padding-bottom: 8px;
}
@media (min-width: 1314px) {
  .title {
    font-size: 120px;
    padding-top: 195px;
    padding-bottom: 21px;
  }
}

.btn-first {
  font-family: "DM Sans";
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #DD2242;
  border-radius: 107px;
  border: none;
  padding: 21px 90px;
  margin-bottom: 54px;
}
@media (min-width: 1314px) {
  .btn-first {
    margin-bottom: 241px;
    font-size: 20px;
    border-radius: 211px;
    padding: 26px 64px;
  }
}

.here-list {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5882352941);
}
@media (min-width: 1314px) {
  .here-list {
    position: relative;
    right: -100px;
    width: 1225px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
  }
}

.here-item {
  margin-right: 198px;
  margin-left: 32px;
}
@media (min-width: 1314px) {
  .here-item {
    width: 210px;
  }
  .here-item .here-item:first-child {
    margin-left: 71px;
  }
}

.here-number {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
  color: #DD2242;
  padding-bottom: 4px;
  padding-top: 35px;
}
@media (min-width: 1314px) {
  .here-number {
    padding-bottom: 14px;
    padding-top: 41px;
  }
}

.here-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26.41px;
  padding-bottom: 4px;
  color: #fff;
}
@media (min-width: 1314px) {
  .here-title {
    padding-bottom: 14px;
  }
}

.here-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  padding-bottom: 32px;
}
@media (min-width: 1314px) {
  .here-text {
    padding-bottom: 49px;
  }
}

.explore {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 23.96px;
}

.explor-list {
  gap: 30px;
  display: none;
}
@media (min-width: 1314px) {
  .explor-list {
    display: flex;
  }
}

.explor-item {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
}

.second-section {
  background-image: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0.815) 100%), url(../images/mounatins.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 207px;
  padding-bottom: 104px;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
@media (min-width: 1314px) {
  .content-wrapper {
    flex-direction: row;
  }
}

.mountain-img {
  width: 314px;
  height: 232px;
  border-radius: 10px;
  margin-left: 30px;
  flex-direction: column;
}
@media (min-width: 1314px) {
  .mountain-img {
    width: 530px;
    height: 360px;
  }
}

.mountain-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
@media (min-width: 1314px) {
  .mountain-title {
    font-size: 42px;
    margin-bottom: 4px;
    padding-left: 130px;
  }
}

.mountain-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  color: #E0E0E0;
}
@media (min-width: 1314px) {
  .mountain-text {
    font-size: 18px;
    padding-bottom: 32px;
    padding-left: 130px;
  }
}

.btn-second {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  padding: 22px 108px;
  background-color: #DD2242;
  border-radius: 42px;
  border: none;
}
@media (min-width: 1314px) {
  .btn-second {
    padding: 16px 40px;
    margin-left: 130px;
  }
}

.third-section {
  background-image: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0.795) 100%), url(../images/palm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-direction: column;
}
@media (min-width: 1314px) {
  .third-container {
    flex-direction: row-reverse;
  }
}

.palm-img {
  width: 314px;
  height: 232px;
  margin-left: 30px;
  border-radius: 10px;
  flex-direction: column;
}
@media (min-width: 1314px) {
  .palm-img {
    display: flex;
    width: 530px;
    height: 360px;
    margin-bottom: 305px;
  }
}

.palm-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
@media (min-width: 1314px) {
  .palm-title {
    font-size: 42px;
    margin-bottom: 4px;
  }
}

.palm-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  color: #E0E0E0;
}
@media (min-width: 1314px) {
  .palm-text {
    font-size: 18px;
    padding-bottom: 32px;
  }
}

.btn-third {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  padding: 22px 108px;
  background-color: #DD2242;
  border-radius: 42px;
  border: none;
}
@media (min-width: 1314px) {
  .btn-third {
    padding: 16px 40px;
  }
}

.secrets-section {
  background-image: url(../images/bgpole.png);
  background-position: center;
  background-repeat: no-repeat;
}

.image-row {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.secrets-text {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 50px;
  color: #010A20;
  padding-top: 127px;
  padding-bottom: 44px;
}

.img-secrets {
  padding-left: 31px;
  padding-bottom: 933px;
}

.bg {
  background-color: rgba(2, 12, 33, 0.7960784314);
}

.numbers-list {
  flex-direction: column;
}
@media (min-width: 1314px) {
  .numbers-list {
    display: flex;
    flex-direction: row;
  }
}

.numbers-item {
  margin-left: 127px;
}

.nubmers-title {
  display: flex;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 57px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  color: #fff;
}
@media (min-width: 1314px) {
  .nubmers-title {
    font-size: 60px;
    padding-bottom: 36px;
  }
}

.numbers-pretitle {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #E0E0E0;
}
@media (min-width: 1314px) {
  .numbers-pretitle {
    font-size: 18px;
    padding-bottom: 39px;
  }
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 42.14px;
  padding-bottom: 4px;
  color: #DD2242;
}
@media (min-width: 1314px) {
  .numbers {
    padding-bottom: 18px;
  }
}

.numbers-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  color: #E0E0E0;
  margin-bottom: 224px;
}

.hills {
  background-image: url(../images/bgline.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 249px;
  padding-bottom: 256px;
}

.hills-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 42px;
  padding-bottom: 32px;
}

.hills-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  color: #939393;
  padding-bottom: 36px;
}

.btn-hills {
  display: flex;
  margin: 0 auto;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  background-color: #DD2242;
  color: #fff;
  padding: 18px 56px;
  border-radius: 107px;
  border: none;
}

.experience-section {
  background-image: linear-gradient(180deg, rgba(1, 10, 32, 0.6784313725) 0%, rgba(1, 10, 32, 0.815) 100%), url(../images/safaribg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.experience-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 42px;
  padding-top: 141px;
  color: #fff;
  padding-bottom: 67px;
}

.experience-img {
  display: flex;
  margin: 0 auto;
  width: 314px;
  height: 192px;
  border-radius: 10px;
}
@media (min-width: 1314px) {
  .experience-img {
    width: 1056px;
    height: 594px;
    padding-bottom: 125px;
  }
}

.travel-list {
  display: flex;
  flex-direction: row;
}

.travel-item {
  display: flex;
}

.travel-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #fff;
  margin-bottom: 15px;
  padding-left: 41px;
}

.travel-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  padding-left: 42px;
  color: #939393;
  padding-right: 75px;
}

.travel-img {
  width: 233px;
  height: 151px;
  padding-bottom: 255px;
}

.gallery-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 60px;
}

.gallery-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  color: #939393;
}

.getting {
  background-color: #DCE8F2;
  padding-top: 119px;
  padding-bottom: 117px;
}

.getting-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 60px;
  color: #010A20;
  padding-bottom: 44px;
}

.getting-list {
  margin-left: 100px;
}

.getting-item-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 26.41px;
  color: #010A20;
  padding-bottom: 28px;
  margin-left: 45px;
}

.getting-item-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 23.47px;
  color: gray;
  padding-bottom: 79px;
  margin-left: 45px;
}

.getting-wrap {
  display: flex;
}

.btn-getting {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: #DD2242;
  padding: 18px 56px;
  border: none;
  border-radius: 112px;
}

.getting-img {
  padding-bottom: 95px;
  padding-left: 70px;
}

.circle-number {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 26.41px;
  width: 58px;
  height: 58px;
  background-color: #DD2242;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #010A20;
}

.red {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 23.96px;
  color: #DD2242;
}

.white {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 23.96px;
  color: #fff;
}

.adress-item {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}