.experience-section {
  background-image: linear-gradient(
      180deg,
      #010a20ad 0%,
      rgba(1, 10, 32, 0.815) 100%
    ),
    url(../images/safaribg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.experience-title {
  display: flex;
  align-items: center;
  justify-content: center;
 
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 42px;
   padding-top: 141px;
  color: $white;
  padding-bottom: 67px;
}
.experience-img {
  display: flex;
  margin: 0 auto;
  width: 314px;
  height: 192px;
  border-radius: 10px;
  @media (min-width: 1314px) {
    width: 1056px;
    height: 594px;
    padding-bottom: 125px;
  }
}
.travel-list {
  display: flex;
   flex-direction:row; 
}

.travel-item {
  display: flex;


  

}

.travel-title {
    
 font-family: "DM Sans";
font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;

  color: $white;
  margin-bottom: 15px;
  padding-left: 41px;
}

.travel-text {
  font-family: "DM Sans";
font-weight: 400;
font-size: 18px;
padding-left: 42px;
  color: $gray;
  padding-right: 75px;
}

.travel-img {
width: 233px;
height: 151px;
padding-bottom: 255px;
}