.footer {
  background-color: $blue;
}

.footer-content {
}
.address-left {
}
.address {
}
.footer-logo {
}
.red {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 23.96px;
  color: $main-red;
}
.white {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 23.96px;
  color: $white;
}
.adress-list {
  display: flex;
  gap: 30px;
  padding-left: 124px;
}
.adress-item {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  color: $white;
  padding-right: 36px;
}
.adress-link {
}
.fill{
    fill:#fff;
    width: 24px;
    height: 24px;
    padding-left: 720px;
}