.explore {
    font-family: "Roboto";
font-weight: 900;
font-size: 23.96px;




}
.explor-list {
     
  gap: 30px;
  display: none;
  @media (min-width:1314px){
    display: flex;
  }
}
.explor-item {
    font-family: "DM Sans";
font-weight: 700;
font-size: 18px;


}
.explor-link {
}