.secrets-section {
  background-image: url(../images/bgpole.png);
  background-position: center;
  background-repeat: no-repeat;
}

.image-row {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.secrets-text {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 50px;
  color: $blue;
  padding-top: 127px;
  padding-bottom: 44px;
}
.img-secrets {
  padding-left: 31px;
  padding-bottom: 933px;
}
.bg {
  background-color: #020c21cb;
}
.numbers-list {
   flex-direction: column;
  @media (min-width: 1314px) {
   
    display: flex;
    flex-direction: row;
  }

}
.numbers-item {
  margin-left: 127px; 
  
}
.nubmers-title {
  display: flex;
  justify-content: center;
 padding-top: 72px;
 padding-bottom: 57px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  color: $white;
  @media (min-width: 1314px) {
   font-size: 60px;
   padding-bottom: 36px;
   
  }
 
}
.numbers-pretitle {
  display: flex;
  justify-content: center;
  font-family: "DM Sans";
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  color: $text-light;
 @media (min-width: 1314px) {
   font-size: 18px;
   padding-bottom: 39px;
   
  }
}
.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 42.14px;
  padding-bottom: 4px;
  color: $main-red;
   @media (min-width: 1314px) {
   padding-bottom: 18px;
   
  }
}
.numbers-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  color: $text-light;

   
}
